body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image:url('https://images.unsplash.com/photo-1530789253388-582c481c54b0?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    opacity: 100%;
    
}
  
  p
  {
    color: rgb(8, 59, 100);
  }
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    /* z-index: -1;  */
    /* Bring the navigation bar behind other content */
    background-color:rgb(64, 59, 59); 
    /* Set the background color to transparent */
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color:wheat;
  }
  
  /* Logo */
  .logo img {
    width: 90px;
    height: auto;
    opacity: 80%;
    
  }
  
  header {
    /* background-image: url('https://images.unsplash.com/photo-1714571883639-fe73d73ef8a9?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDIwfDZzTVZqVExTa2VRfHxlbnwwfHx8fHw%3D'); */
    background-size:cover;
    color: white;
    text-align: center;
    padding: 100px 0;
    /* width: auto; */
    /* height: 20vh; */
       
    
  }
  
  .header-content {
    position: sticky;
  }
  
  .header-content h1 {
    margin: 0;
    font-size: 1.5em;
    animation: spreadEffect 2s ease-in-out infinite alternate;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* position:fixed; */
  }
  
  @keyframes spreadEffect {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(2.1);
    }
  }

  .container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
  }

  .photo-container {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    
  }
  
  .photo {
    flex: 1;
    text-align: center;
    margin:  0 20px;
    
  }
  
  .photo img {
    width: 90%;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
    height: 40vh;
    opacity: 90%;
    
    
  }
  
  .photo img:hover {
    transform: scale(1.1);
  }
  
  .food {
    background-color: #f5f5f5;
    border-radius: 10px;
    
  }
  
  .people {
    background-color: #e0e0e0;
    border-radius: 10px;
  }
  
  .places {
    background-color: #d5d5d5;
    border-radius: 10px;
  }
  